rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /platos/{id} {
      allow read: if true;
      allow write: if true; // demo sin auth; en prod: request.auth.token.admin==true
    }
    match /categorias/{id} {
      allow read: if true;
      allow write: if true;
    }
    match /ofertas/{id} {
      allow read: if true;
      allow write: if true;
    }
    match /resenas/{id} {
      allow read: if true;
      allow create: if request.resource.data.nombre is string && request.resource.data.rating is int;
      allow update, delete: if true;
    }
    match /reservas/{id} {
      allow create: if request.resource.data.nombre is string && request.resource.data.nombre.size() >= 2
        && request.resource.data.personas is int && request.resource.data.personas >= 1 && request.resource.data.personas <= 20
        && request.resource.data.hora is string && request.resource.data.hora >= "11:00" && request.resource.data.hora <= "23:00"
        && request.resource.data.fecha is string;
      allow read, update, delete: if true;
    }
    match /pedidos/{id} {
      allow create: if request.resource.data.items is list;
      allow read, update, delete: if true;
    }
    match /users/{uid} { allow read, write: if true; }
  }
}
